* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

#root {
  margin: 0;
  padding: 0;
  height: 100vh;
}

.home-page{
    height: 100vh;
}

.nav-bar{
    display: flex;
    justify-content: space-between;
    /* background-color: brown; */
    margin-top: 10px;
    width: 100vw;
    padding: 4px 20px;
    /* box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);  */
}

.right-part{
    display: flex;
    /* background-color:green; */
    /* width: 30vw; */
    gap: 30px;
    font-family:"Helvetica", "Arial", sans-serif;
}

.nav-func{
    color: gray;
    
}

.left-part{
    color: #3498db;
    font-size: 20px;
    letter-spacing: 3px;
}

.create-post{
    background-color: #3498db;
    padding: 8px 10px;
    border: 1px;
    border-radius: 5px;
    color: white;
    font-size: 15px;
    margin: 0px 0px 3px 0px;
}

.content{
    background-color: blue;
}